<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">OneShot</a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/home" routerLinkActive="text-secondary" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="/profiles" routerLinkActive="text-secondary" class="nav-link px-2 text-white">Profiles</a></li>
          <li><a routerLink="/users" routerLinkActive="text-secondary" class="nav-link px-2 text-white">Users</a></li>
          <!--li><a href="#" routerLinkActive="text-secondary" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" routerLinkActive="text-secondary" class="nav-link px-2 text-white">About</a></li-->
        </ul>

        <div class="text-end">
          <button *ngIf="!isLoggedIn" (click)="goTo('/login')" type="button" class="btn btn-outline-light me-2">Login</button>
          <button *ngIf="!isLoggedIn" (click)="goTo('/signup')" type="button" class="btn btn-warning">Sign-up</button>
          <button *ngIf="isLoggedIn" (click)="onLogout()" type="button" class="btn btn-warning">Logout</button>
        </div>
      </div>
    </div>
  </header>